/* Media Queries */

@media (max-width: 1112px) {
    .container,
    .cabecalho {
        padding: 0 1.2rem;
    }
}

@media (max-width: 768px) {
    .cabecalho-mobile {
        display: flex;
        padding: 1rem;
    }
    .btn-hamb {
        display: block;
    }
    nav {
        display: none;
    }
    .container {
        grid-template-columns: 1fr;
        margin-bottom: 2rem;
    }
    .form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;
    }
    .form-button {
        display: block;
        text-align: right;
    }
    .form-button input {
        font-size: 1rem;
        padding: 0.5rem 3rem;
    }
}

@media (max-width: 604px) {
    .container {
        margin-top: 26px;
    }
    .cabecalho p a {
        font-size: 1.3rem;
    }
    .form {
        grid-template-columns: 1fr;
        gap: 0.1rem;
    }
    #titulo-form {
        display: none;
    }
    .form-transacao {
        border: none;
        border-bottom: 1px solid #979797;
        border-radius: 0;
        padding: 0;
    }
    .container-extrato {
        font-size: 0.9rem;
    }
    .container-extrato h2 {
        font-size: 1.2rem;
    }
    .form-button {
        display: grid;
    }
    footer {
        position: relative;
    }
}
