@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background: #f7f7f7;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
p {
    margin: 0px;
}

header {
    background: #e0e0e0;
    height: 80px;
    display: flex;
    justify-content: center;
}

/* Cabeçalho Desktop*/
.cabecalho {
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
}

.nav-text {
    flex: 1;
    margin-left: 15px;
}

.cabecalho img {
    max-width: 100%;
}

.cabecalho p a {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
}

.container-menu-logo h1 {
    margin-left: 1.2rem;
}

/* Links menu */

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: white;
}

/* Separador do menu */
.menu li + li::before {
    content: " | ";
    font-size: 1.2rem;
    padding: 0 10px;
    color: #979797;
}

.menu li a {
    color: black;
}

.btn-hamb,
.btn-close {
    display: none;
}

/* ---Fim do Cabeçalho--- */

main {
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 3rem;
    width: 1100px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

.form-transacao {
    max-width: 100%;
    border: 1px solid #979797;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 1.2rem;
}

.form-transacao h2 {
    font-size: 1.2em;
    text-align: center;
    margin: 20px 0;
}

.form {
    display: grid;
}

.form-item {
    display: grid;
}

.form-item label {
    margin-bottom: 5px;
}

.form-item input,
select {
    margin-bottom: 20px;
    padding: 7px;
    border: 1px solid #979797;
    border-radius: 4px;
    background-color: #fff;
}

select,
input:focus {
    outline: none;
}

.form-button {
    display: grid;
}

.lista-transacao {
    background-image: url("../img/down.svg");
    background-position: calc(100% - 8px);
    background-repeat: no-repeat;
    background-size: 11px;
}

.form-item .lista-transacao:not(:placeholder-shown) {
    background-image: none;
}

#adicionar-transacao {
    background-color: #333333;
    color: white;
    border: 0;
    cursor: pointer;
}

/* Extrato de Transações */
.container-extrato {
    display: grid;
}

.container-extrato h2 {
    font-size: 1.2em;
    text-align: center;
    margin: 20px 0;
}

.container-extrato hr {
    width: 100%;
    height: 1px;
    background: #979797;
}

.header-extrato {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px 5px;
}

.header-extrato h3 {
    font-weight: 700;
}

.body-extrato hr {
    margin-bottom: 2px;
}

.extrato-desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.valor-desc {
    width: 60%;
    text-align: right;
    margin-right: 20px;
}

.desc {
    display: flex;
    flex-direction: row;
}

.desc p:first-child {
    margin-right: 11px;
    margin-left: 20px;
    text-align: center;
}

.linha-final {
    margin: -7px 0 0 0;
}

.total-extrato {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px 0;
}

.total-extrato-valor {
    text-align: right;
}

footer {
    background-color: black;
    height: 8px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
